
  <main>
    {{#if user}}
      <div class="auth-form text-center m-auto p-10 sm:max-w-[450px] lg:max-w-[550px] xl:max-w-[650px]">
        <h2 class="text-5xl p-20 text-berani">Edit Types</h2>
        <form action="/types/edit/{{type.id}}" method="post">
            <div class="form-group">
                <input class="input-style" type="text" id="email" name="name" required placeholder="Name" value="{{type.name}}">
            </div>
            <div class="form-group">
                <button class="button-style" type="submit" id="submit-button">Edit</button>
            </div>
        </form>
        <form action="/types/delete/{{type.id}}" method="post">
          <button class="mt-2 w-full p-2 border-0 rounded-[25px] text-[16px] cursor-pointer text-gray-800 font-medium transition-colors duration-300 box-border bg-red-500" type="submit" id="submit-button">Delete</button>
        </form>
      </div>
    {{else}}
      <div class="bacground-header" >
      <div class="font-medium spacing-wide absolute bg-white rounded-lg shadow-lg w-full max-w-[30%] top-[50%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-[50px] px-[40px] text-blue-950 text-center">
          <h2 class="text-4xl">Oops!</h2>
          <h4 class="p-2">Sorry, To edit types you had to login! 😞</h4>
          <p>Do you want navigate to <a class="text-blue-400" href="/users/login">Login?</a></p>
      </div>
    {{/if}}
  </main>
  <script src="../../public/js/popup.js"></script>

