
    <main>
      <div class="auth-form text-center m-auto p-10 sm:max-w-[450px] lg:max-w-[550px] xl:max-w-[650px]">
        <h2 class="text-5xl p-20 text-berani">Register</h2>
        <form action="/users/register" method="post">
          <div class="form-group">
            <input class="input-style" type="text" id="name" name="username" required placeholder="Name">
          </div>
          <div class="form-group">
            <input class="input-style" type="email" id="email" name="email" required placeholder="Email">
          </div>
          <div class="form-group">
            <input class="input-style" type="password" id="password" name="password" required placeholder="Password">
          </div>
          <div class="form-group">
            <button class="button-style" type="submit" id="submit-button">Register</button>
          </div>
          <p class="p-10">Already have an account? <a href="/users/login">Login</a></p>
        </form>
      </div>
    </main>
  <script src="../../public/js/popup.js"></script>

