<a
  href="/types/edit/{{id}}"
  class=" bg-white max-w-48 relative overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-2 lg:p-4"
>
  <h2 class="text-center text-slate-800 font-medium">{{name}}</h2>
  <span
    class=" absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-white to-green-300   "
  ></span>
</a>